/* importing font style Catamaran */
/* rules to match : 
font-family: 'Catamaran',
sans-serif;
font-family: 'Questrial',
sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;400;500;600;700;800&family=Questrial&display=swap");

/* asterix selector to ovveride default styles added by the browswer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*generic project styles*/
    color: #f67280;
    font-family: "Catamaran", sans-serif;
}

/*Header*/
header {
    background-color: #41a7ad;
    padding: 5% 5%;
    /* Adjust padding using viewport units */
    height: auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    color: #35537d;
    text-decoration: underline;

}


#menu-nav li {
    display: inline;
    font-size: 130%;
    font-family: "Questrial", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0 30px;
    border-right: 2px solid #f8b195;
    list-style-type: none;
    transition: color 0.3s ease;
    /* Added transition for smooth color change */
}

#menu-nav li {
    /* ... other styles ... */
    padding: 0 2vw;
    /* Adjust padding using viewport units */
    /* ... other styles ... */
}

.hover:hover {
    color: #ffffff;
    /* Change text color when hovering */
}


/* Main content */
main {
    background-color: #35537d;
    /* main main content take up any extra space to push footer down */
    flex: 1 0 auto;
}

main {
    background-image: url('../images/main-image.JPG');
   
    background-size: cover;
    /* Adjust the background sizing as needed */
    background-position: center;
    /* Center the image horizontally and vertically */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    /* ... other styles ... */
}

/* Footer */
footer {
    background-color: #41a7ad;
    color: #35537d;
}

#social-icons {
    text-align: center;
    /* Center align the icons within the footer */
    margin-top: 20px;
    /* Add some spacing between the content and the icons */
}

.social-icon {
    display: inline-block;
    /* Display the icons in a line */
    margin: 0 10px;
    /* Add spacing between the icons */
    font-size: 24px;
    /* Adjust the icon size as needed */
    color: #35537d;
    /* Set the icon color */
}

.social-icon:hover {
    color: #f67280;
    /* Change icon color on hover */
}

/* Media Queries */

/* small and thin sized phone screens */

@media screen and (max-width: 400px) {
    
    /* disabling this section for now
    #menu-nav {
        display: grid;
        font-size: 0.8em;
    }

    #menu-nav li {
        width: 90%;
        margin: 0 auto;
        line-height: 40px;
        border-right: none;
        border-bottom: 2px solid #35537d;
    } */
}